
/* Color y margin de los titulos */
.card{
    background-color: rgb(245, 245, 35);
    margin-bottom: 10px;
    margin-top: 10px;

    overflow: hidden;
    border-radius: 10px;
}

/* Centrado de los textos de las cards */
.centrado{
    text-align: center;
    
}

/* Texto del footer */
.texto-claro{
    color: rgb(255, 255, 255);
}

/* Estilos letras del carrito*/
td {
    text-decoration: underline;
}

/* Estilo del nombre del producto*/
.negrita{
    text-transform:uppercase;
    font-weight: bold;
}

/*Aplicando margin*/
.margin{
    margin-bottom: 15px;
}

/*Margin para el footer */
footer{
    margin-top: 25%;
}


/*boton de vaciar carrito*/
.btn-danger{
    text-align: center;
}